h2 {
  color: #191e47;
  font-weight: bold;
}

.navbar {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactus {
  border-radius: 70px;
  padding: 12px 22px;
  color: #cc2973;
  border: 2px solid #cc2973;
  font-weight: bold;
  transition: 0.5s;
}

.contactus:hover {
  background-color: #cc2973;
  color: #f9fafe;
  border-color: #cc2973;
}

.contactus:active {
  background-color: #cc2973;
}

.fs-xl {
  font-size: 5rem;
  font-weight: 700;
  color: #191e47;
}

header {
  overflow: hidden;
  padding-top: 6.6rem;
}

header .heading {
  position: relative;
}

header .heading .fs-xl span {
  color: #4555d2;
}

.header-img {
  width: 450px;
}

.header-img img {
  width: 100%;
}

header .heading .details-btn {
  padding: 12px 22px;
  border-radius: 70px;
  font-weight: 700;
  font-size: 17px;
  background-color: rgb(20, 20, 195);
}

header .heading .details-btn:hover {
  background-color: darkblue;
}

.heading .svg {
  position: absolute;
  top: -20%;
  width: 85%;
  left: -86%;
  z-index: -1;
  opacity: 0.7;
}

.second-svg {
  position: absolute;
  top: 20%;
  right: -70%;
  z-index: -1;
  width: 70%;
}

.information {
  background-color: #f9fafe;
  padding: 4rem;
}

.information .description-company .caption {
  padding: 2.875rem 0;
}

.information .description-company .caption p {
  padding: 10px 0;
  width: 65%;
  margin: auto;
}

.information .description-company .caption span {
  color: #cc2973;
}

.offers-details .info h2 {
  color: #191e47;
  font-size: 2rem;
  font-weight: bold;
}

.offers-details .info span {
  color: #4555d2;
}

.offers-details .info .fa-check {
  color: #4555d2;
}

.offers-details .info .get-started {
  background-color: #4555d2;
  font-size: 1.3rem;
}

.offers-details .info .get-started:hover {
  background-color: #191e47;
}

.offers-details .info .offers-svg {
  position: absolute;
  left: -35%;
  top: 0;
  width: 35%;
  z-index: -1;
}

.services {
  background-color: #f9fafe;
}
.services .services__heading span {
  color: #cc2973;
}
.services .service_category i {
  font-size: 4rem;
  padding: 15px 0;
  color: #cc2973;
}

.workspace {
  overflow: hidden;
}
.workspace span {
  color: #4555d2;
}
.workspace .workspace_svg {
  position: absolute;
  top: 10%;
  right: -40%;
  width: 40%;
}

.quote {
  background-color: #f9fafe;
  padding-block: 50px;
}
.quote .quote-btn .btn {
  background-color: #cc2973;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
}
.quote .quote-btn .btn:hover {
  background-color: #5e1836;
}

.header span {
  color: #cc2973;
}

.project_card-info .project_body {
  width: 90%;
  margin: auto;
}
.project_card-info .project_body p {
  font-size: 1rem;
}

.carousel {
  background-color: #f9fafe;
  padding-block: 60px;
}
.carousel .indicate {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #191e47;
}
.carousel h5 {
  color: #191e47;
}

.contact {
  padding-block: 50px;
}
.contact .contact_form .send-btn button {
  background-color: #191e47;
  border: none;
  padding: 10px 20px !important;
}
.contact .contact_form .send-btn button:hover {
  background-color: #30406c;
}

.contact .star-svg {
  position: absolute;
  left: -59%;
  top: 0;
  width: 60%;
}

footer {
  background-color: #f9fafe;
  padding-block: 50px;
}

@media (max-width: 768px) {
  .fs-xl {
    font-size: 1.5rem;
  }
  header {
    margin-top: 6rem;
  }
  header .heading {
    text-align: center;
  }
  .header-img {
    width: 250px;
    margin: auto;
  }
  .heading .svg {
    left: -54%;
  }
  .second-svg {
    right: -40%;
  }
  .information {
    margin-top: 4rem;
  }
  .heading-btns {
    justify-content: center;
  }
  .information .description-company .caption p {
    width: 100%;
  }
  .header-p {
    font-size: 1rem;
    padding: 0;
  }
  header .heading .details-btn .btn {
    font-size: 1rem;
    padding: 5px 10px;
  }
  .offers-details .info h2 {
    text-align: center;
  }
  .offers-details .info .offers-btn {
    text-align: center;
  }
  .offers-details .info .get-started {
    font-size: 1rem;
  }
  .offers-details .info .offers-svg {
    width: 100%;
    top: 50%;
    left: 0;
    opacity: 0.7;
  }
  .services__heading {
    text-align: center;
  }
  .workspace {
    text-align: center;
  }
  .workspace .workspace_svg {
    position: absolute;
    top: 19%;
    right: 0%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
  }
  .project_card-info {
    text-align: center;
  }
  .testimonial-img p {
    font-size: 1.1rem !important;
  }
  .carousel .carousel_title h5 {
    font-size: 1.1rem;
  }
  .contact h2 {
    text-align: center;
  }
  .contact .contact_form form input, .contact .contact_form form textarea {
    font-size: 1rem !important;
    padding: 10px !important;
  }
  .contact .contact_form .send-btn button {
    font-size: 1rem !important;
  }
  footer {
    text-align: center;
  }
}
